.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    gap: 1rem;
    width: 100%;
    background-color: #fff;

    &__actions {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    button {
      color: black;
      border: 1px solid black;  
      border-radius: 1rem;
    }
    button:hover {
      background-color: white;
    }
  }
  