
<app-header
(addUserEvent)="addUser()"></app-header>
<ng-container *ngIf ="users$ | async as state" >
    <div class="pagination">
        <button (click)="changePage(-1)" [disabled]="currentPage$.value === 1">Prev</button>
        <span>Page: {{ currentPage$ | async }}</span>
        <button (click)="changePage(1)">Next</button>
      </div>
      
      <div class="user-page"  >
      <app-user-card   [ngStyle]="{ cursor: 'pointer' }" 
      *ngFor="let user of state.users" 
      [user]="user" ></app-user-card>
    </div>
</ng-container >

